// ...
@Injectable({ /* ... */ })
export class BookStoreService {
  // ...
  /*BS*/check(isbn: string): Observable<boolean> {
    return this.http.get<boolean>(
      `${this.apiUrl}/books/${isbn}/check`
    )
  }/*BE*/
}

