get errors(): string[] {
  if (!this.controlName) {
    return [];
  }

  const control = this.form.control.get(this.controlName);

  if (!control || !control.errors || !control.touched) {
    return [];
  }

  /*BS*/return Object.keys(control.errors).map(errorCode => {
    return this.messages[errorCode];
  });/*BE*/
}
