get errors(): string[] {
  const control =
    this.controlName &&
    this.form.control.get(this.controlName);

  if (
    !control ||
    !this.messages ||
    !control.errors ||
    !control.touched
  ) {
    return [];
  }

  /*BS*/return Object.keys(control.errors).map(errorCode => {
    return this.messages[errorCode];
  });/*BE*/
}
