import { Component, /*BS*/Input/*BE*/ } from '@angular/core';

@Component({ /* ... */ })
export class FormErrorsComponent {
  /*BS*/@Input() controlName?: string;
  @Input() messages: { [errorCode: string]: string } = {};/*BE*/


  /*BS*/get errors(): string[] {
    // ...
  }/*BE*/
}
