// ...
/*BS*/import { AsyncValidatorsService } from '../shared/async-validators.service';/*BE*/

@Component({ /* ... */ })
export class BookFormComponent implements OnChanges {
  // ...
  form = new FormGroup({
    // ...
    isbn: new FormControl('', {
      nonNullable: true,
      validators: [ /* ... */ ],
      /*BS*/asyncValidators: this.asyncValidators.isbnExists()/*BE*/
    }),
    // ...
  });

  constructor(/*BS*/private asyncValidators: AsyncValidatorsService/*BE*/) {}
  // ...
}
