// ...
import { atLeastOneValue, /*BS*/isbnFormat/*BE*/ } from '../shared/validators';/*BE*/

@Component({ /* ... */ })
export class BookFormComponent implements OnChanges {
  // ...
  form = new FormGroup({
    // ...
    isbn: new FormControl('', {
      nonNullable: true,
      validators: [
        Validators.required,
        /*BS*/isbnFormat/*BE*/
      ]
    }),
    // ...
  });
  // ...
}
