export const isbnFormat: ValidatorFn = function(control) {
  if (!control.value) {
    return null;
  }

  const isbnWithoutDashes = control.value.replaceAll('-', '');
  const length = isbnWithoutDashes.length;

  if (length === 10 || length === 13) {
    return null;
  } else {
    return { isbnformat: true };
  }
}
